version: '3.9'

services:
  redis:
    image: redis:alpine

  db:
    image: postgres:alpine
    environment:
      - POSTGRES_USER=[[ db_username ]]
      - POSTGRES_DB=[[ db_database ]]
      - POSTGRES_PASSWORD=[[ db_password ]]
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U [[ db_username ]]" ]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8899:80
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started