[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.92.0"
fastapi-framework = "1.5.3.3"
uvicorn = "0.20.0"
python-dotenv = "1.0.0"
sqlalchemy = "2.0.4"
asyncpg = "0.27.0"
pydantic = "1.10.5"


[dev-packages]
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.9"
