[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.66.0"
fastapi-framework = "1.4.8"
uvicorn = "0.14.0"
python-dotenv = "0.18.0"
sqlalchemy = "1.4.22"
asyncpg = "0.25.0"
pydantic = "1.8.2"


[dev-packages]
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.9"
